<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889792541789-1l55gpl9nrtr04ibvfskunsfm2u0qjdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889792541789-1l55gpl9nrtr04ibvfskunsfm2u0qjdp</string>
	<key>API_KEY</key>
	<string>AIzaSyARfUwq9Hx0daorkF-I0pyL9WsF9_Uztyo</string>
	<key>GCM_SENDER_ID</key>
	<string>889792541789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexandermasztak.Grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-3170b</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-3170b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889792541789:ios:352a7c5772bf6f1cf709b4</string>
</dict>
</plist>